<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">
<head>
    <title>Hello World - Testing</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Hello World - User!!!</h1>
    </div>
    <th:block layout:fragment="scripts">
        <script type="text/javascript">
            // this is some javascript
        </script>
    </th:block>
</body>
</html>